<form>
  <md-card>
    <md-card-header>
      <md-card-title>
        系统登陆
      </md-card-title>
    </md-card-header>
    <md-card-content>
      <md-input-container class="full-width">
        <input mdInput placeholder="您的Email">
      </md-input-container>
      <md-input-container class="full-width">
        <input mdInput type="password" placeholder="您的密码">
      </md-input-container>
      <button md-raised-button type="button" color="primary">登陆</button>
    </md-card-content>
    <md-card-actions class="text-align">
      <p>还没有账户？<a href="">注册</a></p>
      <p>忘记密码？<a href="">找回密码</a></p>
    </md-card-actions>
  </md-card>
  <md-card>
    <md-card-header>
      <md-card-title>
        每日佳句
      </md-card-title>
      <md-card-subtitle>
        绝不要因为怕辛苦而拒绝一个想法、梦想或是目标，成功的路上难免伴随辛苦。（Bob Proctor）
      </md-card-subtitle>
    </md-card-header>
    <img md-card-image src="assets/images/7.jpg" alt="">
    <md-card-content>
      Never reject an idea, dream or goal because it will be hard work. Success rarely comes without it.
    </md-card-content>
  </md-card>
</form>
